@import "tailwindcss";

html,
body {
  font-size: 1.12rem;
  color: #333333;
}

hr {
  border-color: #cccccc;
  margin-right: 10px;
  margin-left: 10px;
}

.box:hover {
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.box:active {
  background-color: #cccccc;
}

.LeftBox::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 3.75px;
}

.LeftBox::-webkit-scrollbar {
  width: 7.5px;
  margin-right: 5px;
}

.RightBox::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

.RightBox::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 3.75px;
}

.RightBox::-webkit-scrollbar {
  width: 7.5px;
}

.LeftBox::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}
